* {
  box-sizing: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0;
  background-repeat: no-repeat;
}

::before,
::after {
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  border-style: solid;
  border-width: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: none;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: 400;
  color: #333;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0oMImSLYBIv1o4X1M8cce4E9lKcw.ttf)
    format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0qMImSLYBIv1o4X1M8cce9I94.ttf)
    format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8aBc5tU1Q.ttf)
    format('truetype');
}

@font-face {
  font-family: 'percolate';
  src: url('./assets/icon/percolate.eot?-5w3um4');
  src: url('./assets/icon/percolate.eot?#iefix5w3um4')
      format('embedded-opentype'),
    url('./assets/icon/percolate.woff?5w3um4') format('woff'),
    url('./assets/icon/percolate.ttf?5w3um4') format('truetype'),
    url('./assets/icon/percolate.svg?5w3um4') format('svg');
  font-weight: normal;
  font-style: normal;
}

.p-article {
  box-sizing: border-box;
  font-size: 1.6rem;
}

/* componentのstyleを定義 */
.c-list__heading {
  padding: 12px 12px 9px;
  background-color: #d6ebff;
  border-radius: 2px 2px 0 0;
  font-weight: 700;
}

.c-list__heading + .c-list {
  padding: 19px 32px;
  border: 3px solid #d6ebff;
  border-radius: 0 0 2px 2px;
}

.c-list {
  padding: 19px 32px;
  border: 3px solid #d6ebff;
  border-radius: 2px;
  font-size: 1.6rem;
  line-height: 1.6;
}

.c-list > li {
  position: relative;
  margin-bottom: 16px;
}

.c-list > li:last-child {
  margin-bottom: 0;
}

.c-list > li::before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  top: 10px;
  left: -14px;
  background-color: #93c7ea;
  border-radius: 50%;
}
